<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1 style="text-align:center">
    Bienvenido a {{ title }} {{ name }}
</h1>
<hr>
<div>
    <p>Nombre del Empleado:{{nombre}}</p>
    <p>Edad:{{edad}}</p>
    <p>Los últimos tres sueldos son: {{sueldos[0]}}, {{sueldos[1]}} y {{sueldos[2]}}</p>
    <p>En los últimos 3 meses ha ganado: {{ultimos3Sueldos()}}</p>
    <p>{{esActivo()}}</p>
</div>
<hr>
<div>
    <p>Nombre del Empleado:{{nombre}}</p>
    <p>Edad:{{edad}}</p>
    <p *ngIf="edad>=18">Es mayor de edad.</p>
    <table border="1">
        <tr>
            <td>Sueldos</td>
        </tr>
        <tr *ngFor="let sueldo of sueldos">
            <td>{{sueldo}}</td>
        </tr>
    </table>
</div>

<p *ngFor="let saludo of saludos">{{saludo}}</p>


<router-outlet></router-outlet>