.selector {
    display: inline-flex;
    margin: 0.2rem;
}

.valor {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: #ff0;
    font-size: 2rem;
}

button {
    height: 3rem;
}