.forma {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    color: white;
    background-color: black;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}