<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<div>
    <app-selectornumerico minimo="1" maximo="10" #selector1></app-selectornumerico>
    <br>
    <button (click)="selector1.fijar(1)">Fijar en 1</button><br>
    <button (click)="selector1.fijar(5)">Fijar en 5</button><br>
    <button (click)="selector1.fijar(10)">Fijar en 10</button>
</div>