<div>
    <div *ngIf="currentBook.id" class="edit-form">
        <h4>Book</h4>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="currentBook.title" name="title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentBook.description" name="description" />
            </div>

            <div class="form-group">
                <label><strong>Status:</strong></label> {{ currentBook.published ? "Published" : "Pending" }}
            </div>
        </form>

        <button class="badge badge-primary mr-2" *ngIf="currentBook.published" (click)="updatePublished(false)">
      UnPublish
    </button>
        <button *ngIf="!currentBook.published" class="badge badge-primary mr-2" (click)="updatePublished(true)">
      Publish
    </button>

        <button class="badge badge-danger mr-2" (click)="deleteBook()">
      Delete
    </button>

        <button type="submit" class="badge badge-success mb-2" (click)="updateBook()">
      Update
    </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentBook.id">
        <br />
        <p>Cannot access this Book...</p>
    </div>
</div>